main {
    padding-top: 2rem;
}

.background-image {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.package {
    width: 80%;
    margin: 1rem 0;
    border: 5px solid #0e4f1f;
    border-left: none;
    position: relative;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454;
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background: #ff5454;
    padding: 8px;
}

.package__title {
    color: black;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    color: #0e4f1f;
    background: white;
    border: 2px solid black;
    padding: 1rem;
    font-size: 0.9rem;
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left: 5px solid #0e4f1f;
    text-align: right;
}

#free:hover,
#free:active {
    border-color: #ff5454;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

#premium {
    background: rgba(13, 129, 44, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}

@media (min-width: 40rem) {
    main {
        margin: 3rem auto;
        max-width: 1500px;
    }
}

@media (min-width: 1500px) {
    .package {
        border-left: 5px solid #0e4f1f;
    }

    #free {
        border-right: 5px solid #0e4f1f;
    }
}
